table{
	border-radius:10px;
}
th, tr{
	width:100px;
}
th{
	background-color:#5BE7A7;
}
td:hover{
	background-color:black;
	color:white;
}
tr:nth-child(odd){
	background-color:#0099CC;
}
tr:nth-child(even){
	background-color:#D1EDC8;
}